.box {

    border: 1px solid rebeccapurple;
    flex: 1;
    aspect-ratio: 1;

}

.box.blocked{
    background-color: brown;
}

.box.explored{
    background-color: green;
}
.box.robot{
    background-color: burlywood;
}
