#app {
  max-width: 1280px;
  width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.grid{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.row{
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: .5em;

}
